/* *,
::after,
::before {
} */

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
  color: #434455;
}
img {
  display: block;
  object-fit: contain;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}
.container {
  /* justify-content: space-between; */
  /* width: 1158px; */
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-container {
  display: flex;
  align-items: center;
}

.company-title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  text-decoration: none;
  line-height: 1.17;
  /* margin-right: 76px; */
  display: inline-block;
  position: relative;
}

.company-title-studio {
  color: #2e2f42;
}
.nav-menu {
  display: none;
  gap: 40px;
  /* margin-right: 76px; */
}

.nav-menu a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.nav-menu-studio {
  padding: 24px 0;
  position: relative;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-active {
  color: #404bbf;
}

.studio-active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;

  bottom: -1px;
}

.nav-menu-studio:hover {
  color: #404bbf;
}
.nav-menu-studio:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.address-top {
  display: none;
}

.address-top a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-task-requierement:hover,
.address-task-requierement:active,
.address-task-requierement:focus {
  color: #404bbf;
}
.address-list {
  /* display: flex;
  gap: 40px; */
}

.body-header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.body-header-link {
  display: block;
  padding: 16px 0;
}

.main-page-title {
  /* background-color: #2e2f42; */
  /* padding: 188px 0; */
  padding: 72px 0;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-mob.jpg");
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-resolution: 2x) {
  .main-page-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-mob-2x.jpg");
  }
}

.main-section-title {
  /* font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.button-order-service {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}

.second-section {
  /* padding: 120px 0; */
  padding: 96px 0;
}
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        overflow: hidden;
}
*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; */
}
.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list-item {
  /* width: calc((100% - 72px) / 4); */
}

.section-team {
  background-color: #f4f4fd;
  /* padding: 120px 0; */
  padding: 96px 0;
}
.team-list {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-member {
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member img {
  width: 100%;
}

.team-member-card {
  padding: 32px 0;
}

.team-member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-member-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

body ul {
  list-style-type: none;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-container-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-class {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.company-title .footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.company-title-studio-bottom {
  color: #f4f4fd;
}

.company-title-footer {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  line-height: 1.17;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
  text-align: center;
}

img {
  width: 100%;
}

.icons-container {
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px; */
}

/* .icon {
  display: inline-block;

  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} */

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  /* margin-top: 8px; */
}

.scsc {
  gap: 24px;
}

.social-container-item {
  width: 40px;
  height: 40px;
}

.social-container-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-container-link:hover,
.social-container-link:focus {
  background-color: #31d0aa;
}

.scl:hover,
.scl:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

.footer-flex {
  display: flex;
  align-items: baseline;

  flex-wrap: wrap;
}

.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-media {
  /* margin-right: 80px; */
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  /* transition: transform 250ms ease-in-out; */
  background-color: #4d5ae5;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .box:hover .overlay-text {
  transform: translateY(0%);
} */

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}
.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-block {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 72px;
}

.soc-container {
  /* margin: 0; */
  /* margin-bottom: 72px; */
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  /* width: 408px; */
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 16px 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.icon-cross {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button-close:hover .icon-cross {
  fill: #ffffff;
}
.modal-button-close:focus .icon-cross {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-container {
  margin-bottom: 8px;
}

.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.name-input {
  position: relative;
  margin-bottom: 8px;
}
.user-name-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-name-input:focus {
  border-color: #4d5ae5;
}

.comment-container {
  margin-bottom: 16px;
}

.icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-input:focus-within .icon-person {
  fill: #4d5ae5;
}

.comment-input {
  height: 120px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  /* width: 360px; */
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus {
  border-color: #4d5ae5;
}

.icon-modal {
  fill: #2e2f42;
}

.agreement {
  display: flex;

  margin-bottom: 24px;
}

.agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.agreement-input {
}

.span-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}

.pp-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.container-input {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;

  align-items: center;
}

.subscribe-button {
  border-radius: 4px;
  background: #4d5ae5;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.subscribe-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.subscribe-svg {
  fill: #ffffff;
  margin-left: 16px;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.align-subscribe {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.agreement-input:checked .span-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-input:checked + .agreement-text > .span-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}
.flex-header {
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .body-header-link {
    padding: 24px 0;
  }
  .main-page-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-tab.jpg");
  }

  @media screen and (min-resolution: 2x) {
    .main-page-title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-tab-2x.jpg");
    }
  }

  .main-section-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }

  .advantages-title {
    text-align: left;
  }

  .nav-menu {
    display: flex;
    margin-right: 120px;
  }
  .container {
    max-width: 768px;
  }
  .menu-button {
    display: none;
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .company-title {
    margin-right: 76px;
  }

  .address-top {
    display: flex;
  }

  .main-section-title {
    margin-bottom: 36px;
  }

  .tab-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .address-top a {
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .team-list {
    gap: 64px 24px;
  }

  .list-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .team-member {
    width: calc((100% - 24px) / 2);
  }

  .tab-team-container {
    padding: 0px 108px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .footer-block {
    display: block;
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .footer-media {
    display: block;
  }

  .footer-media-text {
    text-align: left;
  }

  .footer-class {
    padding: 96px 108px;
  }
  .modal {
    width: 408px;

    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .body-header-link {
    padding: 24px 0;
  }

  .address-top a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .main-page-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
  }

  @media screen and (min-resolution: 2x) {
    .main-page-title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-2x.jpg");
    }
  }

  .container {
    max-width: 1158px;
  }

  .main-section-title {
    margin-bottom: 48px;
  }

  .icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .list-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .team-member {
    width: calc((100% - 72px) / 4);
  }

  .tab-team-container {
    padding: 0;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-class {
    padding: 100px 0px;
  }

  .footer-media {
    margin-right: 80px;
  }
}

/* ------------MOBILE MENU------------ */
.menu-button {
  border: none;
  background-color: transparent;
}

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-left: 16px;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-right: 24px;
  /* non-visible */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu a {
  text-decoration: none;
}

.menu-studio-active {
  color: #404bbf;
}

.mob-menu-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address-mobile {
  margin-bottom: 48px;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.address-task-requierement {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.current {
  color: #404bbf;
}

.mob-menu-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.mob-menu-social-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  gap: 40px;
  /* margin-top: 48px; */
}
